{% extends 'base.html' %}

{% block head %}
    <title>This is the head of the page.</title>
{% endblock%}

{% block body %}
    <p>This is the body of the page.</p>
            {% for content in contents %}
                <p>{{ content.name }}</p>
                <p>{{ content.suggestion }}</p>
                <p>Rating: {{ content.rating }}</p>
                <a href='/upvote/{{content.id}}'>Upvote!</a>
                <a href='/downvote/{{content.id}}'>Downvote!</a>
                <a href='/delete/{{content.id}}'>Delete</a>
                <br>
                <br>
                <hr>
            {% endfor %}
        <p>Add a new suggestion?</p>
        <form method="post">
            <label for="user_name">Name of user:</label><br>
            <input type="text" id="user_name" name="user_name">
            <label for="rest_name">Name of restaurant:</label>
            <input type="text" id="rest_name" name="rest_name">
            <input type="submit" value="Add">
        </form>
{% endblock %}